.container {
  width: 300px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
}

.container input {
  height: 40px;
  width: 99%;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--gray10);
  padding: 5px 40px 5px 20px; /* Ajuste o padding para acomodar o botão */
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.container input:focus {
  border: 1px solid var(--gray20);
  outline: none;
  color: var(--gray20);
}

.container input::placeholder {
  color: var(--gray20);
}

.container button {
  position: absolute;
  right: 10px; /* Posiciona o botão no lado direito interno */
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove o padding padrão */
}

@media screen and (max-width: 768px){
  .container label {
    right: -50%;
    position: relative;
    transform: translateX(-50%);
  }

  .container input {
    margin-left: 22px;
  }

  .container button {
    right: 0;
    transform: translateX(100%);
  }
}