.container {
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 28.13px;
  left: 10vw;
  position: relative;
}

.container div {
  right: 12vw;
  position: relative;
}

@media screen and (max-width: 768px){
  .container {
    width: 100vw;
    height: 20vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
  }

  .container h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 28.13px;
    left: 0;
    transform: translateX(-40%);
  }
}