.container {
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px){
    flex-direction: column;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
}

.container h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 28.13px;
  left: 10vw;
  position: relative;

  @media screen and (max-width: 768px){
    position: relative;
    width: 100vw;
  }
}

.container div {
  right: 12vw;
  position: relative;

  @media screen and (max-width: 768px){
    position: relative;
    right: 4vw;
  }
}